.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  position: sticky;
  top: 0px;
  margin: 10px;
  border-radius: 8px;
}

.logo {
  font-weight: bold;
  font-size: 32px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
}
.nav-links li:hover {
  color: #6366f1;
  font-size: 17px;
  transition-duration: 0.2s;
  border-bottom: #6366f1 2px solid;
}
